@model PositionInfo.Models.SpModels.SaveNewLeaveData

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Apply New  Leave</h4>
        </div>
        <input type="hidden" id="fkLeaveType" name="fkLeaveType" value="@Model.fkLeaveType">
        <input type="hidden" id="EmpId" name="Emp_Id" value="@Model.Emp_Id">
        <input type="hidden" id="Department" name="Department" value="@Model.Department">
        <input type="hidden" id="FirstLineManager_id" name="FirstLineManager_id" value="@Model.FirstLineManager_id">
        <input type="hidden" id="SecondLineManager_id" name="SecondLineManager_id" value="@Model.SecondLineManager_id">
        <input type="hidden" id="fkEmploymentStatus" name="fkEmploymentStatus" value="@Model.fkEmploymentStatus">

        <input type="hidden" id="CasualLeaveTaken" name="CasualLeaveTaken" value="@Model.CasualLeaveTaken">
        <input type="hidden" id="CasualLeavesLeft" name="CasualLeavesLeft" value="@Model.CasualLeavesLeft">
        <input type="hidden" id="SickLeaveTaken" name="SickLeaveTaken" value="@Model.SickLeaveTaken">
        <input type="hidden" id="SickLeavesLeft" name="SickLeavesLeft" value="@Model.SickLeavesLeft">
        <input type="hidden" id="PaidLeaveTaken" name="PaidLeaveTaken" value="@Model.PaidLeaveTaken">
        <input type="hidden" id="PaidLeavesLeft" name="PaidLeavesLeft" value="@Model.PaidLeavesLeft">
        <input type="hidden" id="LWP" name="LWP" value="@Model.LWP">
        <input type="hidden" id="WorkFromHomeLeft" name="WorkFromHomeLeft" value="@Model.WorkFromHomeLeft">
        <input type="hidden" id="WorkFromHomeTaken" name="WorkFromHomeTaken" value="@Model.WorkFromHomeTaken">

        <div class="modal-body">
            <div class="col-sm-6">
                <div class="d--box">
                    <label>Start Date</label>

                    @Html.TextBoxFor(m => m.FromDate, null, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d--box">
                    <label>End Date</label>
                    @*@Html.TextBoxFor(m => m.LeaveEndDate, null, new { @class = "form-control" })*@

                    @Html.TextBoxFor(m => m.ToDate, null, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d--box">
                    <label>Leave Reason</label>
                    @*@Html.TextBoxFor(m => m.LeaveEndDate, null, new { @class = "form-control" })*@

                    @Html.TextBoxFor(m => m.LeaveReason, null, new { @class = "form-control " })
                </div>
            </div>
            <div class="col-sm-12">
                <label>Half Day</label>
                @Html.CheckBoxFor(x => x.IsHalfDay)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="SaveLeaveData()" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    //$(function () {
    //    $("#LeaveStartDate").click(function () {
    //        $(this).datepicker().datepicker("show")
    //            var selected = $(this).val();
    //            alert(selected);
    //    });
    //});
    $(function () {
        
        $("#FromDate").datepicker({
            dateFormat: "dd-mm-yy",
            onSelect: function () {
                var selected = $(this).val();
                //$('#LeaveStartDate').val('');
               // $('#LeaveStartDate').val(selected);
                $('#FromDate').attr('value', selected)
                //alert($('#LeaveStartDate').val());
            }
        });
    });

    $(function () {
        $("#ToDate").datepicker({
            dateFormat: "dd-mm-yy",
            onSelect: function () {
                var selected = $(this).val();
               // $('#LeaveEndDate').val('');
               // $('#LeaveEndDate').val(selected);
                $('#ToDate').attr('value', selected)
               // alert($('#LeaveEndDate').val());
            }
        });
    });
   
    function SaveLeaveData() {
        var chk = $('#use').is(':checked'); 
        alert(chk);

        var model = {
         
            FromDate: $('#FromDate').attr('value'),
            ToDate: $('#ToDate').attr('value'),
            Emp_Id: $('#EmpId').val(),
            fkLeaveType : $('#fkLeaveType').val(),
            LeaveReason: $('#LeaveReason').val(),
            Department: $('#Department').val(),
            FirstLineManager_id: $('#FirstLineManager_id').val(),
            SecondLineManager_id: $('#SecondLineManager_id').val(),
            CasualLeaveTaken: $('#CasualLeaveTaken').val(),
            CasualLeavesLeft: $('#CasualLeavesLeft').val(),
            SickLeaveTaken: $('#SickLeaveTaken').val(),
            SickLeavesLeft: $('#SickLeavesLeft').val(),
            PaidLeaveTaken: $('#PaidLeaveTaken').val(),
            PaidLeavesLeft: $('#PaidLeavesLeft').val(),
            LWP: $('#LWP').val(),
            WorkFromHomeLeft: $('#WorkFromHomeLeft').val(),
            WorkFromHomeTaken: $('#WorkFromHomeTaken').val(),
            IsHalfDay: chk
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddEmpLeave", "Admin")',
            data: { saveNewLeaveData: model },
          //  contentType: "application/json; charset=utf-8",
            success: function (response) {
                alert("Leave saved successfully");
                    location.reload();
              //  $('#editLeaveModal').html(response);
               // $('#editLeaveModal').modal('show');
            },
            error: function (response) {
                //alert('some error has occured !!');
            }
        });
    }


</script>