@model IEnumerable<LeaveManagement.Models.SpModels.SingleEmployee>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #emp-list_wrapper .table tr th {
        white-space: nowrap;
        text-align: center;
    }


    #emp-list_wrapper .table tr td {
        white-space: nowrap;
        padding: 4px 5px;
        vertical-align: middle;
    }

    .timelog--parent main[role="main-wrapper"] .mid--box [class*="col"] .btn {
        padding: 2px 8px;
        border-radius: 3px;
        margin: 0;
        box-shadow: 0 0 10px rgb(86 185 244 / 40%);
    }

    .timelog--parent main[role="main-wrapper"] .mid--box [class*="col"] .form-control {
        padding: 3px 7px;
        height: 30px;
    }
</style>

<main id="EmployeeList" role="main-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    <div class="col-sm-12">
                        <table class="table" id="emp-list">
                            <thead>
                                <tr>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Email ID
                                    </th>
                                    <th>
                                        Contact No.
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Experience
                                    </th>
                                    <th>
                                        On Bench
                                    </th>
                                    <th>
                                        Partial Available
                                    </th>
                                    <th>
                                        Expected Partial Date Availability
                                    </th>
                                    <th>
                                        Skill Set
                                    </th>
                                    <th>
                                        Current Project Name
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OfficialEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mobile)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Experience)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MarkToBench)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartialAvailable)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpPartialDateAvailability)
                                    </td>
                                    <td>
                                        <button data-toggle="modal" data-target="#myModal" class="btn btn-default" id="View_@item.ID" onclick="initateView(@item.ID)"><i class="fa fa-eye view_eye"></i></button>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrentProject)
                                    </td>
                                    <td>
                                        @if(HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "Dept")?.Value == @item.Department)
                                        {
                                            <button data-toggle="modal" data-target="#myModal" class="btn btn-default" id="Edit_@item.ID" onclick="initateEdit(@item.ID)"><i class="fa fa-edit"></i></button>
                                        }
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="BalanceLeaveModal" role="dialog">
    </div>
    <div class="modal fade" id="BalanceLeaveModal12" role="dialog">
    </div>
</main>

<script>
    function initateEdit(LeaveRowID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditEmpResourse", "PositionInfo")',
            data: { ID: LeaveRowID },
            success: function (response) {
                $('#BalanceLeaveModal').html(response);
                $('#BalanceLeaveModal').modal('show');
            },
            error: function (response) {
            }
        });
    }

    function initateView(LeaveRowID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ViewEmpskills", "PositionInfo")',
            data: { ID: LeaveRowID },
            success: function (response) {
                $('#BalanceLeaveModal12').html(response);
                $('#BalanceLeaveModal12').modal('show');
            },
            error: function (response) {
            }
        });
    }

    $(document).ready(function () {
        $('#Position_form').addClass('active');
        $('#emp-list').DataTable({
            "ordering": false,
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        });
    });
</script>

