@model IEnumerable<LeaveManagement.Models.SpModels.SingleEmployee>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="EmployeeList" role="main-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    <div class="col-sm-12">
                        <table class="table" id="emp-list">
                            <thead>
                                <tr>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Email ID
                                    </th>
                                    <th>
                                        Contact No.
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Experience
                                    </th>
                                    <th>
                                        On Bench
                                    </th>
                                    <th>
                                        Partial Available
                                    </th>
                                    <th>
                                        Expected Partial Date Availability
                                    </th>
                                    <th>
                                        Skill Set
                                    </th>
                                    <th>
                                        Current Project Name
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OfficialEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mobile)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Experience)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MarkToBench)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartialAvailable)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpPartialDateAvailability)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Skillset)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentProject)
                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#myModal" class="btn btn-default" id="Edit_@item.ID" onclick="initateEdit(@item.ID)">Edit</button>
                                            @*<a asp-action="EmployeeDetails" asp-route-id="@item.ID">Details</a>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="BalanceLeaveModal" role="dialog">
    </div>
</main>

<script>
    function initateEdit(LeaveRowID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditEmpResourse", "PositionInfo")',
            data: { ID: LeaveRowID },
          //  contentType: "application/json; charset=utf-8",
            success: function (response) {
                debugger
                $('#BalanceLeaveModal').html(response);
                $('#BalanceLeaveModal').modal('show');
            },
            error: function (response) {
                //alert('some error has occured !!');
            }
        });
    }

    $(document).ready(function () {
        $('#Position_form').addClass('active');
        $('#emp-list').DataTable({
            "ordering": false,
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        });
        //$('#emp-list').DataTable();
    });
</script>