@model IEnumerable<LeaveManagement.Models.SpModels.GetEmployeeLeavesStatus>

<p>
    @*<a asp-action="Create">Employee SickLeave History</a>*@
</p>
<table class="table LeaveTable">
    <thead>
        <tr>
            <th>
                Applied On
            </th>
            <th>
                Leave Start Date
            </th>
            <th>
                Leave End Date
            </th>
            <th>
                Total Days
            </th>
            @*<th>
                Action
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppliedOn)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.LeaveStartDate)                 
                    @*<input type="text" id="startDateTextbox_@item.LeaveRowID" style="display:none"  value="@item.LeaveStartDate" />*@
                </td>
                <td>
                   
                        @Html.DisplayFor(modelItem => item.LeaveEndDate)
                 
                    @*<input type="text" id="endDateTextbox_@item.LeaveRowID" style="display:none"  value="@item.LeaveEndDate" />*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualCount)
                </td>
                @*<td>
                    <button data-toggle="modal" data-target="#myModal" class="editleaves" id="Edit_@item.LeaveRowID" onclick="initateEdit(@item.LeaveRowID)">Edit</button>
                </td>*@
            </tr>
        }
    </tbody>
</table>



<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    function initateEdit(LeaveRowID) {   
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditEmpLeaveBasedOnLeaveID", "Admin")',
            data: { LeaveID: LeaveRowID },
          //  contentType: "application/json; charset=utf-8",
            success: function (response) {
                $('#editLeaveModal').html(response);
                $('#editLeaveModal').modal('show');
            },
            error: function (response) {
                //alert('some error has occured !!');
            }
        });
    }

</script>







