@model IEnumerable<LeaveManagement.Models.SpModels.BalanceLeaveById>

<p>
    @*<a asp-action="Create">Employee SickLeave History</a>*@
</p>
<table class="table LeaveTable" id="balanceleave">
    <thead>
        <tr>
            <th>
                Emp Name
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Balance
            </th>
            <th>
                Description
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Balance)

                <input type="text" id="endDateTextbox_@item.Id" style="display:none" value="@item.Balance" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button data-toggle="modal" data-target="#myModal" class="btn btn-default" id="Edit_@item.Id" onclick="initateEdit(@item.Id)">Edit</button>
            </td>
        </tr>
        }
    </tbody>
</table>



<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>


<script>
    function initateEdit(LeaveRowID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditBalanceEmpLeave", "Admin")',
            data: { ID: LeaveRowID },
          //  contentType: "application/json; charset=utf-8",
            success: function (response) {
                $('#BalanceLeaveModal').html(response);
                $('#BalanceLeaveModal').modal('show');
            },
            error: function (response) {
                //alert('some error has occured !!');
            }
        });
    }

</script>
@*<script>


            $(document).ready(function ()
            {
                $("#balanceleave").DataTable({
                    //"processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                   // "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "ajax": {
                        "url": "/DemoGrid/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }],
                    "columns": [
                        { "data": "Id", "name": "Id", "autoWidth": true },
                        { "data": "Name", "name": "Name", "autoWidth": true },
                        { "data": "LeaveType", "name": "LeaveType", "autoWidth": true },
                        { "data": "Balance", "name": "Balance", "autoWidth": true },
                        //{ "data": "City", "name": "City", "autoWidth": true },
                        //{ "data": "Phoneno", "name": "Phoneno", "autoWidth": true },
                        {
                            "render": function (data, type, full, meta)
                            { return '<a class="btn btn-info" href="/DemoGrid/Edit/' + full.Id + '">Edit</a>'; }
                        },
                        {
                            data: null, render: function (data, type, row)
                            {
                                return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";
                            }
                        },
                    ]

                });
            });


        function DeleteData(CustomerID)
            {
                if (confirm("Are you sure you want to delete ...?"))
                {
                    Delete(CustomerID);
                }
                else
                {
                    return false;
                }
            }


            function Delete(CustomerID)
        {
            var url = '@Url.Content("~/")' + "DemoGrid/Delete";

                $.post(url, { ID: CustomerID }, function (data)
                    {
                        if (data)
                        {
                            oTable = $('#example').DataTable();
                            oTable.draw();
                        }
                        else
                        {
                            alert("Something Went Wrong!");
                        }
                    });
        }

    </script>*@






