@model IEnumerable<LeaveManagement.Models.SpModels.SingleEmployee>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="EmployeeList" role="main-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    <div class="col-sm-12">
                        <table class="table" id="emp-list">
                            <thead>
                                <tr>
                                    <th>
                                        Emp Code
                                    </th>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Email ID
                                    </th>
                                    <th>
                                        Contact No.
                                    </th>
                                    <th>
                                        D.O.J
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Grade)
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Emp_Code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OfficialEmail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mobile)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DOJ)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Grade)
                                        </td>
                                        <td>
                                            <a asp-action="EmployeeDetails" asp-route-id="@item.ID">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('#Employee_List').addClass('active');
        $('#emp-list').DataTable({
            "ordering": false,
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        });
        //$('#emp-list').DataTable();
    });
</script>