@model IEnumerable<ResourcePortal.Database.HrpositionInfo>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="EmployeeList" role="main-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    <div class="col-sm-12">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-default add_btn" onclick="initateEdit(0)">Add Openings</button>
                        <table class="table" id="emp-list">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created On
                                    </th>
                                    <th>
                                        Skills
                                    </th>
                                    <th>
                                        Dept.
                                    </th>
                                    <th>
                                        No. Of Pos.
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Experience
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Req. By
                                    </th>
                                    <th>
                                        Mgmt Status
                                    </th>
                                    <th>
                                        Assigned To
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedOn)
                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#myModal" class="btn btn-default" id="View_@item.Id" onclick="initateView(@item.Id)"><i class="fa fa-eye view_eye"></i></button>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Department)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoOfPosition)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Priority)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Experience)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequestedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MgmtStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AssignTo)
                                        </td>
                                        <td>
                                            <button data-toggle="modal" data-target="#myModal" class="btn btn-default" id="Edit_@item.Id" onclick="initateEdit(@item.Id)"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function initateEdit(LeaveRowID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditEmpResourse", "PositionHRInfo")',
            data: { ID: LeaveRowID },
            success: function (response) {
                $('#EmployeeList').append(`<div class="modal fade" id="BalanceLeaveModal1" data-backdrop="static" role="dialog">${response}</div>`);
                $('#BalanceLeaveModal1').modal('show');
            },
            error: function (response) {
            }
        });
    }

    function initateView(LeaveRowID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ViewEmpskills", "PositionHRInfo")',
            data: { ID: LeaveRowID },
            success: function (response) {
                $('#EmployeeList').append(`<div class="modal fade" id="BalanceLeaveModal11" data-backdrop="static" role="dialog">${response}</div>`);
                $('#BalanceLeaveModal11').modal('show');
            },
            error: function (response) {
            }
        });
    }

    $(document).ready(function () {
        $('#PositionHR_form').addClass('active');
        $('#emp-list').DataTable({
            "ordering": false,
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ],
            initComplete: function () {
                this.api().columns([3, 5, 9]).every(function () {
                    var column = this;
                    var select = $('<select><option value="">Show All</option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });
</script>
