@model IEnumerable<LeaveManagement.Database.HrpositionInfo>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main id="EmployeeList" role="main-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 parent">
                <div class="mid--box row justify-content-center">
                    <div class="col-sm-12">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-default add_btn" onclick="initateEdit(0)">Add</button>
                        <table class="table" id="emp-list">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Created On
                                    </th>
                                    <th>
                                        Skills
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        No. Of Positions
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Budget
                                    </th>
                                    <th>
                                        Expected Date
                                    </th>
                                    <th>
                                        Experience
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Requested By
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Skills)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Department)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfPosition)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Priority)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Budget)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExpectedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Experience)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestedBy)
                                    </td>
                                    <td>
                                        <button data-toggle="modal" data-target="#myModal" class="btn btn-default" id="Edit_@item.Id" onclick="initateEdit(@item.Id)">Edit</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="BalanceLeaveModal" role="dialog">
    </div>
</main>

<script>
    function initateEdit(LeaveRowID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditEmpResourse", "PositionHRInfo")',
            data: { ID: LeaveRowID },
          //  contentType: "application/json; charset=utf-8",
            success: function (response) {
                debugger
                $('#BalanceLeaveModal').html(response);
                $('#BalanceLeaveModal').modal('show');
            },
            error: function (response) {
                //alert('some error has occured !!');
            }
        });
    }

    $(document).ready(function () {
        $('#PositionHR_form').addClass('active');
        $('#emp-list').DataTable({
            "ordering": false,
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        });
        //$('#emp-list').DataTable();
    });
</script>
<style>
    .timelog--parent main[role="main-wrapper"] .mid--box [class*="col"] .btn {
        padding: 5px 15px;
        border-radius: 3px;
        margin:0;
    }

    #emp-list_wrapper .table tr th {
        white-space: nowrap;
    }

    #emp-list_wrapper .table tr td {
        white-space: nowrap;
        padding: 4px 5px;
        vertical-align: middle;
    }
    .timelog--parent main[role="main-wrapper"] .mid--box [class*="col"] .form-control {
        padding: 3px 5px;
        height: 25px;
    }
    .mdl-button {
        height: 30px;
    }
    .add_btn {
      margin-left:16px !important;
    }
</style>